<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 15px; border-radius: 10px; text-align: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.5rem;">
  Project Title: <span style="color: #333333;">Payment Card Analysis </span>
</h1>

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 20px; border-radius: 15px; text-align: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); letter-spacing: 1px; text-transform: capitalize; font-size: 1.5rem;">
  <span style="color: #1c1c1c; font-size: 2rem;">üë®‚Äçüíª</span> 
  Author: <span style="color: #333333;">Maaz Umar</span><br>
  <a href="https://github.com/Maaz-Umar-00" style="color: #333333; text-decoration: none; font-size: 0.9rem;">GitHub</a> |
  <a href="https://www.linkedin.com/in/maaz-umar-178090307/" style="color: #333333; text-decoration: none; font-size: 0.9rem;">LinkedIn</a> |
  <a href="mailto:maazumar2005@email.com" style="color: #555555; text-decoration: none; font-size: 0.9rem;">Email</a>

</h1>

<img src="./mitron_bank_image.webp" alt="Mitron Bank" style="width: 600px; display: block; margin: 0 auto;" />


<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 15px; border-radius: 10px; text-align: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.5rem;">
<span style="color: #333333;">Meta-Data(About Dataset)</span>
</h1>


- This dataset contains demographic details and spending data of customers for Mitron Bank. The data is divided into two main tables: dim_customers and fact_spends.
<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 12px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.2rem;">
<span style="color: #333333;">column Description for dim_customers:</span>
</h1>

- `customer_id:` This column represents the Unique ID assigned to each customer.
- `gender:` This column represents the gender of the customer. (Male, Female)
- `age_group`: This column categorizes the customer into different age groups. (21-24, 25-34, 35-45, 45+)
- `marital_status:` This column indicates the marital status of the customer (single, married).
- `city:` This column represents the city of residence for the customer. (Mumbai, Delhi-NCR, Chennai, Hyderabad, Bengaluru)
- `occupation:` This column denotes the occupation or profession of the customer. (Salaried IT Employees, Salaried Other Employees, Business Owners, Freelancers, Government Employees)
- `average_income:` This column indicates the monthly average income of the customer, in INR currency.


*******************************************
<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 12px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.2rem;">
<span style="color: #333333;">column Description for fac_spends:</span>
</h1>

- `customer_id:` This column represents the Unique ID of each customer, linking to the dim_customer table.
- `month:` This column indicates the month in which the spending was recorded. (May, June, July, August, September, October)
- `category:` This column describes the category of spending (Entertainment, Apparel, Electronics, etc).
- `payment_type:` This column specifies the type of payment used by the customer (Debit Card, Credit Card, UPI, Net Banking).
- `spends:` This column shows the total amount spent by the customer in the specified month, category and payment_type.

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 12px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.2rem;">
<span style="color: #333333;">Project Aim:</span>
</h1> 

- The goal of this analysis is to gain insights into customer spending patterns, including which customer segments spend the most, what categories they spend on, and which payment methods are the most popular. This information will help in introducing new payment cards.`

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 12px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.2rem;">
<span style="color: #333333;">Key Findings:</span>
</h1> 

1. The `35-45 age group` has the highest average spending  per age groups.
2. People spend the most on` utility bills`, suggesting that the bank could launch new payment cards with tailored rewards for utility payments, `enhancing customer engagement and card adoption.`
3. People spend the most in `Mumbai` and the least in `Hyderabad, `highlighting the need for tailored marketing strategies to maximize engagement in both markets.
4. `Young people` spend the most on `entertainment,` indicating an opportunity for the bank to create payment cards with rewards or offers specifically tailored to this demographic's entertainment spending habits.
5. `IT employees` use the most variety of payment cards, presenting an opportunity for the bank to offer specialized cards that cater to their diverse spending habits, enhancing customer loyalty.
6.` Business owners` have the` highest average income` but are not using payment cards. This presents an opportunity for the bank to develop targeted offers or exclusive deals tailored to` business owners`, such as rewards for business-related expenses, to encourage `card usage`.



[Click here for the Tableau Dashboard](https://public.tableau.com/app/profile/maaz.umar/viz/MitronBankAnalysis_17266593076560/05_credit_card_dashboard)

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 15px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.5rem;">
<span style="color: #333333;">1.Importing Libraries:</span>
</h1>

In [1]:
# importing libraries
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import mysql
import mysql.connector
import os

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 12px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.2rem;">
<span style="color: #333333;">1.1 Connecting to the database</span>
</h1> 

###

In [2]:
df=mysql.connector.connect(host='localhost',
                           username='root',
                           password='03175231926m',
                           database='mitron_bank')
cursor=df.cursor()

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 12px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.2rem;">
<span style="color: #333333;">1.2 Taking Basic Overveiw of the Facts Table</span>
</h1>

In [4]:
# Executing the query
query = """ SELECT * FROM fact_spends; """
cursor.execute(query)

# Fetching all results
results = cursor.fetchall()

# Geting column names from cursor.description
column_names = [desc[0] for desc in cursor.description]

print("Columns Names Are",column_names)

# printing the 5 rows 
for row in results[:5]:
    print(row)

Columns Names Are ['customer_id', 'month', 'category', 'payment_type', 'spend']
('ATQCUS1371', 'July', 'Health & Wellness', 'Credit Card', 1114)
('ATQCUS0368', 'October', 'Groceries', 'Credit Card', 1466)
('ATQCUS0595', 'May', 'Health & Wellness', 'Credit Card', 387)
('ATQCUS0667', 'October', 'Electronics', 'Credit Card', 1137)
('ATQCUS3477', 'September', 'Bills', 'UPI', 2102)

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 12px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.2rem;">
<span style="color: #333333;">1.3 Checking Total Number of Columns and Rows</span>
</h1> 

###

In [5]:
query_rows = """
SELECT COUNT(*) AS total_rows
FROM fact_spends;
"""
cursor.execute(query_rows)
row_count = cursor.fetchone()[0]  # Fetching the result

# Print the results
print("Total number of rows:", row_count)
print("Total number of columns: 5")

Total number of rows: 864000
Total number of columns: 5

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 12px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.2rem;">
<span style="color: #333333;">1.4 Taking Basic Overveiw of the Dim_customers Table</span>
</h1>

In [6]:
query = """ SELECT * FROM dim_customers; """
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Geting column names from cursor.description
column_names = [desc[0] for desc in cursor.description]

print("Columns Names Are",column_names)

# printing the 10 rows
for row in results[:10]:
    print(row)

Columns Names Are ['customer_id', 'age_group', 'city', 'occupation', 'gender', 'marital_status', 'avg_income']
('ATQCUS1825', '45+', 'Bengaluru', 'Salaried IT Employees', 'Male', 'Married', 73523)
('ATQCUS0809', '25-34', 'Hyderabad', 'Salaried Other Employees', 'Male', 'Married', 39922)
('ATQCUS0663', '25-34', 'Chennai', 'Salaried Other Employees', 'Male', 'Married', 37702)
('ATQCUS0452', '25-34', 'Delhi NCR', 'Government Employees', 'Male', 'Married', 54090)
('ATQCUS3350', '21-24', 'Bengaluru', 'Freelancers', 'Male', 'Single', 28376)
('ATQCUS3256', '21-24', 'Delhi NCR', 'Salaried IT Employees', 'Male', 'Single', 46586)
('ATQCUS3608', '25-34', 'Chennai', 'Freelancers', 'Male', 'Single', 34966)
('ATQCUS0611', '25-34', 'Chennai', 'Salaried IT Employees', 'Male', 'Married', 59078)
('ATQCUS3856', '21-24', 'Bengaluru', 'Salaried Other Employees', 'Female', 'Single', 30424)
('ATQCUS2640', '35-45', 'Delhi NCR', 'Salaried IT Employees', 'Female', 'Married', 67450)

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 12px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.2rem;">
<span style="color: #333333;">1.5 Checking Total Number of Columns and Row</span>
</h1>

In [7]:
query_rows = """
SELECT COUNT(*) AS total_rows
FROM dim_customers;
"""
cursor.execute(query_rows)
row_count = cursor.fetchone()[0]  # Fetch the result

# Print the results
print("Dim_customers Table:")
print("Total number of rows:", row_count)
print("Total number of columns: 7")

Dim_customers Table:
Total number of rows: 4000
Total number of columns: 7

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 15px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.5rem;">
<span style="color: #333333;">2.First Doing Data Cleaning Before Any Analysis On The Data:</span>
</h1> 

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 12px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.2rem;">
<span style="color: #333333;">2.1 Checking For duplicates In Fact_Spends Table</span>
</h1>

In [9]:
# Quering to find duplicate rows based on all columns
query_all_columns = """
SELECT customer_id, month, category, payment_type, spend
FROM fact_spends 
GROUP BY customer_id, month, category, payment_type, spend
HAVING COUNT(*) > 1;
"""
cursor.execute(query_all_columns)
duplicates_all_columns = cursor.fetchall()

print("Duplicates based on Entire row:")
if duplicates_all_columns:
    for row in duplicates_all_columns:
        print(row)
else:
    print("Didn't find any duplicates in the fact_spends table")

Duplicates based on Entire row:
Didn't find any duplicates in the fact_spends table

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 12px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.2rem;">
<span style="color: #333333;">2.2 Checking For duplicates In dim_customers Table</span>
</h1>

In [8]:
query_all_columns = """
SELECT customer_id, age_group, city, occupation, gender, marital_status, avg_income
FROM dim_customers
GROUP BY customer_id, age_group, city, occupation, gender, marital_status, avg_income
HAVING COUNT(*) > 1;
"""
cursor.execute(query_all_columns)
duplicates_all_columns = cursor.fetchall()

print("Duplicates based on Entire row:")
if duplicates_all_columns:
    for row in duplicates_all_columns:
        print(row)
else:
    print("Didn't find any duplicates in the dim_customers table")

Duplicates based on Entire row:
Didn't find any duplicates in the dim_customers table

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 12px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.2rem;">
<span style="color: #333333;">2.3 Now,Checking For missing Values in both Tables</span>
</h1>

In [28]:
query_missing_values = """
SELECT *
FROM fact_spends
WHERE customer_id IS NULL
   OR month IS NULL
   OR category IS NULL
   OR payment_type IS NULL
   OR spend IS NULL;
"""

cursor.execute(query_missing_values)
rows_with_missing_values = cursor.fetchall()
# Checking if there are any rows with missing values
if rows_with_missing_values:
    print("Rows with missing values:")
    for row in rows_with_missing_values:
        print(row)
else:
    print("Luckily, we didn't have any missing values in the facts_table.")

Luckily, we didn't have any missing values in the facts_table.

In [29]:
query_missing_values = """
SELECT *
FROM dim_customers
WHERE customer_id is null 
or age_group is null 
or city is null 
or occupation is null
or gender is null
or marital_status is null
or avg_income is null
"""

cursor.execute(query_missing_values)
rows_with_missing_values = cursor.fetchall()

# Checking if there are any rows with missing values
if rows_with_missing_values:
    print("Rows with missing values:")
    for row in rows_with_missing_values:
        print(row)
else:
    print("Luckily, we didn't have any missing values in the dim_customers_table.")

Luckily, we didn't have any missing values in the dim_customers_table.

## Observations
---
* We did not find any duplicates or missing values in the dataset. Everything seems to be in order now. We have checked for null values and duplicates, and performed the necessary data cleaning. We are ready to move on to the analysis phase. If we encounter any issues during the analysis, we will address them at that time.

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 15px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.5rem;">
<span style="color: #333333;">3.Exploratory Data Analysis(EDA):</span>
</h1>

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 12px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.2rem;">
<span style="color: #333333;">3.1 Joining Both the table using sql join for better understanding of  the data</span>
</h1>

In [36]:
query = """
SELECT
    f.customer_id,
    d.age_group,
    d.city,
    d.occupation,
    d.gender,
    d.marital_status,
    d.avg_income,
    f.month,
    f.category,
    f.payment_type,
    f.spend
FROM fact_spends f
JOIN dim_customers d ON f.customer_id = d.customer_id;
"""

# Executing the SQL query
cursor.execute(query)

# Fetching the results
merged_data = cursor.fetchall()

# Fetching the column names
column_names = [desc[0] for desc in cursor.description]

# printing 10 rows
print(column_names)
for row in merged_data[:10]:
    print(row)

['customer_id', 'age_group', 'city', 'occupation', 'gender', 'marital_status', 'avg_income', 'month', 'category', 'payment_type', 'spend']
('ATQCUS0368', '25-34', 'Delhi NCR', 'Salaried Other Employees', 'Male', 'Married', 39893, 'October', 'Groceries', 'Credit Card', 1466)
('ATQCUS0595', '25-34', 'Bengaluru', 'Government Employees', 'Male', 'Married', 52001, 'May', 'Health & Wellness', 'Credit Card', 387)
('ATQCUS0667', '25-34', 'Chennai', 'Salaried Other Employees', 'Male', 'Married', 40243, 'October', 'Electronics', 'Credit Card', 1137)
('ATQCUS0908', '35-45', 'Mumbai', 'Salaried IT Employees', 'Male', 'Married', 67776, 'September', 'Others', 'UPI', 380)
('ATQCUS1279', '35-45', 'Bengaluru', 'Business Owners', 'Male', 'Married', 74899, 'August', 'Entertainment', 'Debit Card', 443)
('ATQCUS0108', '21-24', 'Hyderabad', 'Salaried IT Employees', 'Male', 'Married', 45933, 'September', 'Groceries', 'Credit Card', 361)
('ATQCUS1019', '35-45', 'Mumbai', 'Freelancers', 'Male', 'Married', 36428, 'August', 'Bills', 'Net Banking', 555)
('ATQCUS1521', '35-45', 'Hyderabad', 'Salaried IT Employees', 'Male', 'Married', 64353, 'October', 'Groceries', 'Net Banking', 410)
('ATQCUS2867', '35-45', 'Chennai', 'Freelancers', 'Female', 'Married', 36013, 'August', 'Health & Wellness', 'Net Banking', 463)
('ATQCUS3551', '25-34', 'Bengaluru', 'Business Owners', 'Male', 'Single', 68334, 'August', 'Electronics', 'UPI', 1104)

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 12px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1.2rem;">
3.2 Descriptive Stats:<span style="color: #333333;"></span>
</h1>
<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 10px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1rem;">
<span style="color: #333333;">3.2.1 Finding out which age_groups spends the most money </span>
</h1>

In [41]:
query = """
SELECT age_group, round(AVG(spend),2) AS avg_spend
FROM fact_spends f
JOIN dim_customers d ON f.customer_id = d.customer_id
GROUP BY age_group
ORDER BY avg_spend DESC;
"""

cursor.execute(query)
results = cursor.fetchall()

# Fetch column names from cursor description
column_names = [desc[0] for desc in cursor.description]
print(column_names)

# Print result rows
print("Average Spending Per Age Group:")
for row in results:
    print(row)

['age_group', 'avg_spend']
Average Spending Per Age Group:
('35-45', Decimal('693.32'))
('25-34', Decimal('628.48'))
('45+', Decimal('588.41'))
('21-24', Decimal('459.10'))

- The analysis shows that the **35-45 age group** has the highest average spending compared to other age groups.

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 10px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1rem;">
<span style="color: #333333;">3.2.2 Analyzing spending patterns across different categories to determine which categories are most popular and profitable.</span>
</h1>

In [11]:
query = """
SELECT category, SUM(spend) AS total_spend
FROM fact_spends
GROUP BY category
ORDER BY total_spend DESC;

"""

cursor.execute(query)
results = cursor.fetchall()

# Fetch column names from cursor description
column_names = [desc[0] for desc in cursor.description]
print(column_names)

# Print result rows
print("Total spending on different categories")
for row in results:
    print(row)

['category', 'total_spend']
Total spending on different categories
('Bills', Decimal('104912768'))
('Groceries', Decimal('86303761'))
('Electronics', Decimal('79562220'))
('Health & Wellness', Decimal('65599867'))
('Travel', Decimal('59223324'))
('Food', Decimal('44013470'))
('Entertainment', Decimal('41289162'))
('Apparel', Decimal('34036001'))
('Others', Decimal('15957182'))

- The analysis shows that the people spend the most money on **Utility bills**.

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 10px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1rem;">
<span style="color: #333333;"> 3.2.3 Classifying age groups and income base on ages and income For better Analysis and readiblity</span>
</h1>

In [28]:
update_query = """
UPDATE dim_customers
SET
    age_category = CASE
        WHEN age_group IN ('21-24') THEN 'Young'
        WHEN age_group IN ('25-34') THEN 'Middle-aged'
        WHEN age_group IN ('35-45') THEN 'Old'
        WHEN age_group IN ('45+') THEN 'Very-old'
        ELSE 'Unknown'
    END,
    income_category = CASE
        WHEN avg_income < 40000 THEN 'Low Income'
        WHEN avg_income BETWEEN 40000 AND 60000 THEN 'Medium Income'
        WHEN avg_income > 60000 THEN 'High Income'
        ELSE 'Unknown'
    END;
"""

# Executing
try:
    cursor.execute(update_query)
    print("Table updated successfully.")
except mysql.connector.Error as err:
    print(f"Error: {err}")

Table updated successfully.

**Now Verifying**

In [29]:
select_query = """
SELECT age_group, avg_income, age_category, income_category
FROM dim_customers;
"""

try:
    cursor.execute(select_query)
    results = cursor.fetchall()
    for row in results[:10]:  # Printing the first 10 rows
        print(row)
except mysql.connector.Error as err:
    print(f"Error: {err}")

('45+', 73523, 'Very-old', 'High Income')
('25-34', 39922, 'Middle-aged', 'Low Income')
('25-34', 37702, 'Middle-aged', 'Low Income')
('25-34', 54090, 'Middle-aged', 'Medium Income')
('21-24', 28376, 'Young', 'Low Income')
('21-24', 46586, 'Young', 'Medium Income')
('25-34', 34966, 'Middle-aged', 'Low Income')
('25-34', 59078, 'Middle-aged', 'Medium Income')
('21-24', 30424, 'Young', 'Low Income')
('35-45', 67450, 'Old', 'High Income')

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 10px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1rem;">
<span style="color: #333333;">3.2.4 Analyzing spending behavior across different months to identify seasonal trends and high-spending periods.</span>
</h1>

In [15]:
query = """
SELECT month, SUM(spend) AS total_spend
FROM fact_spends
GROUP BY month
order by total_spend desc;

"""

cursor.execute(query)
results = cursor.fetchall()

# Fetch column names from cursor description
column_names = [desc[0] for desc in cursor.description]
print(column_names)

# Print result rows
print("Spending behaviour of people in different months")
for row in results:
    print(row)

['month', 'total_spend']
Spending behaviour of people in different months
('September', Decimal('115929577'))
('August', Decimal('100859350'))
('October', Decimal('86026137'))
('July', Decimal('80624751'))
('June', Decimal('79318104'))
('May', Decimal('68139836'))

- The analysis shows that the people spend the most money in **september**.

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 10px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1rem;">
<span style="color: #333333;"> 3.2.5 Analyze spending behavior based on gender to tailor card features or marketing campaigns.</span>
</h1>

In [16]:
query = """
SELECT gender, AVG(spend) AS avg_spend
FROM fact_spends f
JOIN dim_customers d ON f.customer_id = d.customer_id
GROUP BY gender;
"""

cursor.execute(query)
results = cursor.fetchall()

# Fetching column names from cursor description
column_names = [desc[0] for desc in cursor.description]
print(column_names)

# Printing result rows
print("Comparing spending difference between male and female")
for row in results:
    print(row)

['gender', 'avg_spend']
Comparing spending difference between male and female
('Male', Decimal('636.6642'))
('Female', Decimal('573.3736'))

- The analysis showed that the  **males** spend the most money

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 10px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1rem;">
<span style="color: #333333;">3.2.6 Analyze whether marital status influences spending habits.</span>
</h1>

In [18]:
query = """
SELECT marital_status, AVG(spend) AS avg_spend
FROM fact_spends f
JOIN dim_customers d ON f.customer_id = d.customer_id
GROUP BY marital_status;


"""

cursor.execute(query)
results = cursor.fetchall()

# Fetching column names from cursor description
column_names = [desc[0] for desc in cursor.description]
print(column_names)

# Printing result rows
print("Determine whether single or married customers spend more")
for row in results:
    print(row)

['marital_status', 'avg_spend']
Determine whether single or married customers spend more
('Married', Decimal('633.3699'))
('Single', Decimal('545.8472'))

- The analysis showed that the **Married** people spend the most money which is quite obvious.

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 10px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1rem;">
<span style="color: #333333;">3.2.7 Identify the professions associated with higher spending to create targeted credit card offers for specific job groups.</span>
</h1>

####

In [19]:
query = """
SELECT occupation, AVG(spend) AS avg_spend
FROM fact_spends f
JOIN dim_customers d ON f.customer_id = d.customer_id
GROUP BY occupation;

"""

cursor.execute(query)
results = cursor.fetchall()

# fetching column names from cursor description
column_names = [desc[0] for desc in cursor.description]
print(column_names)

# Printing result rows
print("Spending behaviour related to professions ")
for row in results:
    print(row)

['occupation', 'avg_spend']
Spending behaviour related to professions
('Salaried IT Employees', Decimal('871.9743'))
('Salaried Other Employees', Decimal('453.6917'))
('Government Employees', Decimal('419.1314'))
('Business Owners', Decimal('646.7130'))
('Freelancers', Decimal('446.0662'))

  - The analysis showed that the **IT Employees**  spends the most money.

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 10px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1rem;">
<span style="color: #333333;">3.2.8 Analyzing how different payment types affect spending.</span>
</h1>

In [25]:
query = """
SELECT
    payment_type,
    SUM(spend) AS total_spend
FROM fact_spends f
join dim_customers d on f.customer_id=d.customer_id
GROUP BY
    payment_type;
"""

cursor.execute(query)
results = cursor.fetchall()

# Fetch column names from cursor description
column_names = [desc[0] for desc in cursor.description]
print(column_names)
for row in results:
    print(row)

['payment_type', 'total_spend']
('Credit Card', Decimal('216308873'))
('UPI', Decimal('140823223'))
('Debit Card', Decimal('119557229'))
('Net Banking', Decimal('54208430'))

- **Credit Card** varies the most in spending, reflecting its dominant role in the transactions recorded.

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 10px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1rem;">
<span style="color: #333333;">3.2.9 Analyzing which different age categories used the highest variety of payment cards.</span>
</h1>

In [31]:
sql_query = """  
SELECT 
    age_category, 
    payment_type, 
    COUNT(*) AS usage_count
FROM 
    fact_spends f
join dim_customers d on f.customer_id=d.customer_id
GROUP BY 
    age_category, 
    payment_type
ORDER BY 
    age_category, 
    usage_count DESC;


"""

# Execute the SQL query
cursor.execute(sql_query)

# Fetch all results
results = cursor.fetchall()

# Print column names
column_names = [desc[0] for desc in cursor.description]
print(column_names)

# Print the results
for row in results:
    print(row)

['age_category', 'payment_type', 'usage_count']
('Middle-aged', 'Credit Card', 80892)
('Middle-aged', 'UPI', 80892)
('Middle-aged', 'Net Banking', 80892)
('Middle-aged', 'Debit Card', 80892)
('Old', 'Credit Card', 68742)
('Old', 'Debit Card', 68742)
('Old', 'UPI', 68742)
('Old', 'Net Banking', 68742)
('Very-old', 'UPI', 29052)
('Very-old', 'Debit Card', 29052)
('Very-old', 'Net Banking', 29052)
('Very-old', 'Credit Card', 29052)
('Young', 'Credit Card', 37314)
('Young', 'Debit Card', 37314)
('Young', 'UPI', 37314)
('Young', 'Net Banking', 37314)

* The analysis showed that **middle-aged** people used the highest variety of payment cards.

<h1 style="font-family: 'Poppins', sans-serif; font-weight: 700; color: #1c1c1c; background: white; padding: 10px; border-radius: 10px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); letter-spacing: 1px; text-transform: capitalize; font-size: 1rem;">
<span style="color: #333333;">3.2.10 Analyzing which different occupation uses the cards  the most.</span>
</h1>

In [33]:
sql_query = """  
SELECT 
    occupation, 
    payment_type, 
    COUNT(*) AS usage_count
FROM 
    fact_spends f
join dim_customers d on f.customer_id=d.customer_id
GROUP BY 
    occupation, 
    payment_type
ORDER BY  
    usage_count DESC;


"""

# Executing the SQL query
cursor.execute(sql_query)

# Fetching all results
results = cursor.fetchall()

# Printing column names
column_names = [desc[0] for desc in cursor.description]
print(column_names)

# Printing the results
for row in results:
    print(row)

['occupation', 'payment_type', 'usage_count']
('Salaried IT Employees', 'Credit Card', 69876)
('Salaried IT Employees', 'Debit Card', 69876)
('Salaried IT Employees', 'UPI', 69876)
('Salaried IT Employees', 'Net Banking', 69876)
('Salaried Other Employees', 'Credit Card', 48222)
('Salaried Other Employees', 'UPI', 48222)
('Salaried Other Employees', 'Debit Card', 48222)
('Salaried Other Employees', 'Net Banking', 48222)
('Freelancers', 'UPI', 42336)
('Freelancers', 'Net Banking', 42336)
('Freelancers', 'Credit Card', 42336)
('Freelancers', 'Debit Card', 42336)
('Business Owners', 'UPI', 34020)
('Business Owners', 'Debit Card', 34020)
('Business Owners', 'Credit Card', 34020)
('Business Owners', 'Net Banking', 34020)
('Government Employees', 'Credit Card', 21546)
('Government Employees', 'UPI', 21546)
('Government Employees', 'Net Banking', 21546)
('Government Employees', 'Debit Card', 21546)

- The analysis showed that **Salaried IT Employees** people used the highest variety of payment cards.

<h2 style="color: #D35400; font-family: Arial, sans-serif;">Let's move on to <span style="font-weight: bold; color: #16A085;">Tableau</span> for a more in-depth analysis.</h2>
<p style="font-size: 18px; color: #2C3E50; font-family: 'Georgia', serif;">
Tableau provides advanced visualizations and allows us to explore the data more effectively. Stay tuned for insights!
</p>

[Click here for the Tableau Dashboard](https://public.tableau.com/app/profile/maaz.umar/viz/MitronBankAnalysis_17266593076560/05_credit_card_dashboard)
<hr style="border-top: 2px solid #16A085;">